<!DOCTYPE unspecified PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.ord">
<head>
	<!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title Page-->
    <title th:text="${titlePage}"></title>

    <!-- Fontfaces CSS-->
    <link href="/admin/css/font-face.css" rel="stylesheet" media="all">
    <link href="/admin/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

    <!-- Bootstrap CSS-->
    <link href="/admin/css/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="/admin/css/animsition.min.css" rel="stylesheet" media="all">
    <link href="/admin/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="/admin/css/animate.css" rel="stylesheet" media="all">
    <link href="/admin/css/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="/admin/css/slick.css" rel="stylesheet" media="all">
    <link href="/admin/css/select2.min.css" rel="stylesheet" media="all">
    <link href="/admin/css/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/admin/css/theme.css" rel="stylesheet" media="all">
</head>
<body>
	<div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="images/icon/logo.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li>
                            <a  href="#">Dashboard</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="/admin/genre">Thể loại</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="/admin/genre">Danh sách</a>
                                </li>
                                <li>
                                    <a href="/admin/genre/add">Thêm</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="/admin/story">Truyện</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="/admin/story">Danh sách</a>
                                </li>
                                <li>
                                    <a href="/admin/story/add">Thêm</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                        	<a href="/admin/user">Người dùng</a>
                        </li>
                    </ul>
                </div>
            </nav> 
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="images/icon/logo.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li>
                            <a href="/admin"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="/admin/genre">
                                <i class="fa-solid fa-tags"></i>Thể loại</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="/admin/genre">Danh sách</a>
                                </li>
                                <li>
                                    <a href="/admin/genre/add">Thêm</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="/admin/story">
                                <i class="fa-solid fa-book"></i>Truyện</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="/admin/story">Danh sách</a>
                                </li>
                                <li>
                                    <a href="/admin/story/add">Thêm</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/admin/user"><i class="fa-solid fa-user"></i>Người dùng</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <div class="header-button">
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">john doe</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">hs.nhaan</a>
                                                    </h5>
                                                    <span class="email">nguyentrunghieunhan264@gmail.com</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="#">
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- END HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div th:insert="~{@{${contentPage}}}" class="container-fluid">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="/admin/js/jquery-3.2.1.min.js"></script>
    <script src="/admin/js/popper.min.js"></script>
    <script src="/admin/js/bootstrap.min.js"></script>
    <script src="/admin/js/slick.min.js"></script>
    <script src="/admin/js/wow.min.js"></script>
    <script src="/admin/js/animsition.min.js"></script>
    <script src="/admin/js/bootstrap-progressbar.min.js"></script>
    <script src="/admin/js/jquery.waypoints.min.js"></script>
    <script src="/admin/js/jquery.counterup.min.js"></script>
    <script src="/admin/js/circle-progress.min.js"></script>
    <script src="/admin/js/perfect-scrollbar.min.js"></script>
    <script src="/admin/js/Chart.bundle.min.js"></script>
    <script src="/admin/js/select2.min.js"></script>
    <script src="/admin/js/main.js"></script>
    
</body>
</html>