<div th:if="${error}" class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
    <span class="badge badge-pill badge-danger">Error</span>
    <span th:text="${error}"></span>.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div th:if="${success}" class="sufee-alert alert with-close alert-success alert-dismissible fade show">
    <span class="badge badge-pill badge-success">Success</span>
    <span th:text="${success}"></span>.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="col-lg-12">
	<div class="card">
	    <div class="card-header">
	        <strong th:text="${story.title}"></strong>
	    </div>
	    <div th:unless="${readOnly}" class="card-body card-block">
	        <form th:action="@{/admin/story/update/{slug}(slug=${story.slug})}" method="post" enctype="multipart/form-data" class="form-horizontal">
	        	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	        	<input type="hidden" name="_method" value="PATCH">
	            <div class="row form-group">
	                <div class="col col-md-3">
	                    <label for="title" class="form-control-label">Tên truyện</label>
	                </div>
	                <div class="col-12 col-md-9">
	                    <input required="required" type="text" th:value="${story.title}" id="text-input" name="title" placeholder="Nhập tiêu đề truyện" class="form-control">
	                </div>
	            </div>
	            <div class="row form-group">
	                <div class="col col-md-3">
	                    <label for="description" class=" form-control-label">Mô tả</label>
	                </div>
	                <div class="col-12 col-md-9">
	                    <textarea placeholder="Một chút về câu truyện..." th:text="${story.description}" name="description" id="textarea-input" 
	                    		rows="9" class="form-control"></textarea>
	                    <small class="help-block form-text">Không bắt buộc</small>
	                </div>
	            </div>
	            <div class="row form-group">
	                <div class="col col-md-3">
	                    <label for="genreIds" class=" form-control-label">Thể loại</label>
	                </div>
	                <div class="col col-md-9">
	                    <select required="required" name="genreIds" id="multiple-select" class="form-control" style="height: 200px;" multiple="multiple">
	                    	<option th:each="genre : ${genres}" th:value="${genre.id}" 
	                    			th:text="${genre.name}" th:selected="${story.genres.contains(genre)}"></option>
	                    </select>
	                    <small class="help-block form-text">Có thể chọn nhiều thể loại</small>
	                </div>
	            </div>
	            <div th:if="!${readOnly}" class="row form-group">
	                <div class="col col-md-3">
	                    <label for="file" class=" form-control-label">Ảnh bìa</label>
	                </div>
	                <div class="col-12 col-md-9">
	                    <input type="file" id="file" name="file" class="form-control-file">
	                </div>
	            </div>
	            <div th:if="!${readOnly}" class="row form-group">
		            <div class="col col-md-3">
		            	<button type="submit" class="btn btn-primary btn-sm">
				            <i class="fa-solid fa-circle-dot"></i> Submit
				        </button>
		            </div>
	            </div>
	        </form>
	    </div>
	    <div th:if="${readOnly}" class="card-body card-block">
	    	<p class="text-muted">Số điểm: 
	    		<span th:text="${story.totalRating > 0 ? #numbers.formatDecimal(story.totalRating, 1, 1) + '/10' 
	    		: 'Chưa có đánh giá nào'}" class="fw-semibold"></span>
    		</p>
	    	<p class="text-muted">Ngày tạo: <span th:text="${story.created_at}" class="fw-semibold"></span></p>
            <p class="text-muted">Trạng thái: <span th:text="${story.status ? 'Đã hoành thành' : 'Chưa hoàn thành'}" class="fw-semibold"></span></p>
            <p><strong>Thể loại:</strong> 
				<span th:each="genre : ${story.genres}" th:text="${genre.name}" class="badge"></span>
            </p>
            <hr>
            <p th:text="${story.description}" class="card-text"></p>
	    </div>
	    <div class="card-footer">
	    </div>
	</div>
</div>