<div th:if="${error}" class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
    <span class="badge badge-pill badge-danger">Error</span>
    <span th:text="${error}"></span>.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div th:if="${success}" class="sufee-alert alert with-close alert-success alert-dismissible fade show">
    <span class="badge badge-pill badge-success">Success</span>
    <span th:text="${success}"></span>.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="row mb-4">
	<div class="col-md-12">
		<form class="form-header" method="GET">
            <input th:value="${keyword} ?: ''" class="au-input au-input--xl" type="text" name="keyword" placeholder="Search for datas &amp; reports..." />
            <button class="au-btn--submit" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
	</div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3 class="title-5 m-b-35">Danh sách truyện</h3>
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead>
                    <tr>
                    	<th class="col-12 col-sm-6 col-md-4 col-lg-3">Hình ảnh</th>
                        <th>Tên truyện</th>
                        <th>Thể loại</th>
                        <th>Chương truyện</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <th:block th:each="story : ${stories}">
                    <tr class="tr-shadow">
                    	<td class="col-12 col-sm-6 col-md-4 col-lg-3">
                    		<a th:href="@{/images/story/{image}(image=${story.getCover_image()})}">
                    			<img th:src="@{/images/story/{image}(image=${story.getCover_image()})}" class="img-thumbnail" width="100">
                    		</a>
                    	</td>
                        <td th:text="${story.getTitle()}"></td>
                        <td>
                        <th:block th:each="genre, status : ${story.getGenres()}">
                        	<span th:text="${genre.getName()}"></span><span th:if="!${status.last}">, </span>
                       	</th:block>
                        </td>
                        <td>
                       		<div class="table-data-feature">
                            	<a th:href="@{/admin/chapter/{slug}(slug=${story.getSlug()})}" 
                                   class="item" data-toggle="tooltip" data-placement="top" title="Xem danh sách chương truyện">
                                    <i class="fa-solid fa-list"></i>
                                </a>
                                <a th:href="@{/admin/chapter/{slug}/add(slug=${story.getSlug()})}" 
                                   class="item" data-toggle="tooltip" data-placement="top" title="Thêm chương truyện mới">
                                    <i class="fa-solid fa-circle-plus"></i>
                                </a>
                            </div>             
                        </td>
                        <td>
                            <div class="table-data-feature">
                            	<a th:href="@{/admin/story/{slug}(slug=${story.getSlug()})}" 
                                   class="item" data-toggle="tooltip" data-placement="top" title="Xem chi tiết">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                                <a th:href="@{/admin/story/edit/{slug}(slug=${story.getSlug()})}" 
                                   class="item" data-toggle="tooltip" data-placement="top" title="Chỉnh sửa">
                                    <i class="fa-solid fa-pen"></i>
                                </a>
                                <a th:href="@{/admin/story/delete/{slug}(slug=${story.getSlug()})}" 
                                   class="item" data-toggle="tooltip" data-placement="top" title="Xoá">
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr class="spacer"></tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:if="${totalPage}" class="row">
	<div class="col col-md-12">
		<nav>
			<ul th:with="query=${keyword != null ? '?keyword=' + keyword + '&' : '?'}" class="pagination justify-content-center">
				<li th:if="${currentPage > 1}" class="page-item">
					<a th:href="@{${query} + 'page=' + ${currentPage - 1}}" class="page-link"><<</a>
				</li>
				<li th:each="i : ${#numbers.sequence(1, totalPage)}" th:classappend="${currentPage == i ? 'active' : ''}" class="page-item">
					<a th:text="${i}" th:href="@{${query} + 'page=' + ${i}}" class="page-link"></a>
				</li>
				<li th:if="${currentPage < totalPage}" class="page-item">
					<a th:href="@{${query} + 'page=' + ${currentPage + 1}}" class="page-link">>></a>
				</li>
			</ul>
		</nav>
	</div>
</div>